# Importando as principais bibliotecas e inserindo os dados de conexão

In [1]:
import pymysql
import pyodbc
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
import sqlite3
%matplotlib inline

In [2]:
dados_conn2={
    'host':'localhost',
    'user':'root',
    'password':'290801th',
    'database':'a3engdados'
}

In [3]:
conexao = pymysql.connect(**dados_conn2)

In [4]:
df1=pd.read_csv("autoscout24-germany-dataset.csv")

# Inserindo as marcas no banco de dados

In [5]:
df2=df1['make']
marcas=df2.unique()
print(marcas)

['BMW' 'Volkswagen' 'SEAT' 'Renault' 'Peugeot' 'Toyota' 'Opel' 'Mazda'
 'Ford' 'Mercedes-Benz' 'Chevrolet' 'Audi' 'Fiat' 'Kia' 'Dacia' 'MINI'
 'Hyundai' 'Skoda' 'Citroen' 'Infiniti' 'Suzuki' 'SsangYong' 'smart'
 'Cupra' 'Volvo' 'Jaguar' 'Porsche' 'Nissan' 'Honda' 'Lada' 'Mitsubishi'
 'Others' 'Lexus' 'Jeep' 'Maserati' 'Bentley' 'Land' 'Alfa' 'Subaru'
 'Dodge' 'Microcar' 'Lamborghini' 'Baic' 'Tesla' 'Chrysler' '9ff'
 'McLaren' 'Aston' 'Rolls-Royce' 'Alpine' 'Lancia' 'Abarth' 'DS'
 'Daihatsu' 'Ligier' 'Ferrari' 'Caravans-Wohnm' 'Aixam' 'Piaggio' 'Zhidou'
 'Morgan' 'Maybach' 'Tazzari' 'Trucks-Lkw' 'RAM' 'Iveco' 'DAF' 'Alpina'
 'Polestar' 'Brilliance' 'FISKER' 'Cadillac' 'Trailer-Anhänger' 'Isuzu'
 'Corvette' 'DFSK' 'Estrima']

In [ ]:
marcas_array = ['BMW', 'Volkswagen', 'SEAT', 'Renault', 'Peugeot', 'Toyota', 'Opel', 'Mazda', 'Ford', 'Mercedes-Benz', 'Chevrolet', 'Audi', 'Fiat', 'Kia', 'Dacia', 'MINI', 'Hyundai', 'Skoda', 'Citroen', 'Infiniti', 'Suzuki', 'SsangYong', 'smart', 'Cupra', 'Volvo', 'Jaguar', 'Porsche', 'Nissan', 'Honda', 'Lada', 'Mitsubishi', 'Others', 'Lexus', 'Jeep', 'Maserati', 'Bentley', 'Land', 'Alfa', 'Subaru', 'Dodge', 'Microcar', 'Lamborghini', 'Baic', 'Tesla', 'Chrysler', '9ff', 'McLaren', 'Aston', 'Rolls-Royce', 'Alpine', 'Lancia', 'Abarth', 'DS', 'Daihatsu', 'Ligier', 'Ferrari', 'Caravans-Wohnm', 'Aixam', 'Piaggio', 'Zhidou', 'Morgan', 'Maybach', 'Tazzari', 'Trucks-Lkw', 'RAM', 'Iveco', 'DAF', 'Alpina', 'Polestar', 'Brilliance', 'FISKER', 'Cadillac', 'Trailer-Anhänger', 'Isuzu', 'Corvette', 'DFSK', 'Estrima']

dados_marcas = [{'nome_marca': marca} for marca in marcas_array]

for row in dados_marcas:
    print(row)

In [7]:
cursor=conexao.cursor()
inserir_sql2='insert into marca (nome_marca) values (%s)'

In [8]:
#Varrendo a lista de marcas e atribuindo um "Mapping" em cada uma delas
for row in dados_marcas:
    nome_marca = row['nome_marca']

    try:
        cursor.execute(inserir_sql2, (nome_marca,))
        conexao.commit()
    #Exception caso a marca não seja inserida no banco
    except pymysql.IntegrityError as e:
        print(f"Erro de inserção para {nome_marca}: {e}")
        conexao.rollback()

# Inserindo os modelos correspondentes a marca no banco

In [9]:
# Primeiramente vamos transformar a tabela de 'make' em uma tabela numérica correspondente aos dados do banco
mapeamento_marcas = {'BMW': 1, 'Volkswagen': 2, 'SEAT': 3, 'Renault': 4, 'Peugeot': 5, 'Toyota': 6, 'Opel': 7, 'Mazda': 8, 'Ford': 9,
                 'Mercedes-Benz': 10, 'Chevrolet': 11, 'Audi': 12, 'Fiat': 13, 'Kia': 14, 'Dacia': 15, 'MINI': 16, 'Hyundai': 17, 'Skoda': 18,
                   'Citroen': 19, 'Infiniti': 20, 'Suzuki': 21, 'SsangYong': 22, 'smart': 23, 'Cupra': 24, 'Volvo': 25, 'Jaguar': 26,
                     'Porsche': 27, 'Nissan': 28, 'Honda': 29, 'Lada': 30, 'Mitsubishi': 31, 'Others': 32, 'Lexus': 33, 'Jeep': 34,
                       'Maserati': 35, 'Bentley': 36, 'Land': 37, 'Alfa': 38, 'Subaru': 39, 'Dodge': 40, 'Microcar': 41,
                         'Lamborghini': 42, 'Baic': 43, 'Tesla': 44, 'Chrysler': 45, '9ff': 46, 'McLaren': 47, 'Aston': 48,
                           'Rolls-Royce': 49, 'Alpine': 50, 'Lancia': 51, 'Abarth': 52, 'DS': 53, 'Daihatsu': 54, 'Ligier': 55,
                             'Ferrari': 56, 'Caravans-Wohnm': 57, 'Aixam': 58, 'Piaggio': 59, 'Zhidou': 60, 'Morgan': 61,
                               'Maybach': 62, 'Tazzari': 63, 'Trucks-Lkw': 64, 'RAM': 65, 'Iveco': 66, 'DAF': 67, 'Alpina': 68,
                                 'Polestar': 69, 'Brilliance': 70, 'FISKER': 71, 'Cadillac': 72, 'Trailer-Anhänger': 73,
                                   'Isuzu': 74, 'Corvette': 75, 'DFSK': 76, 'Estrima': 77}

In [10]:
dataset_modelos=pd.read_csv('dataset-all-drop-duplicates-sem-unnamed.csv')
dataset_modelos['make_numerico'] = dataset_modelos['make'].map(mapeamento_marcas)

In [11]:
dataset_modelos

,make,model,fuel,gear,hp,year,make_numerico
0,Mercedes-Benz,GLS 500,Gasoline,Automatic,455.0,2019,10
1,Maserati,GranTurismo,Gasoline,Automatic,460.0,2016,35
2,Renault,Express,Gasoline,Manual,101.0,2021,4
3,Chrysler,Grand Voyager,Gasoline,Automatic,287.0,2013,45
4,Volkswagen,Cross Golf,Gasoline,Manual,160.0,2014,2
...,...,...,...,...,...,...,...
830,Mitsubishi,Space Star,Gasoline,Manual,71.0,2021,31
831,Citroen,C1,Gasoline,Manual,72.0,2021,19
832,Fiat,Panda,Electric/Gasoline,Manual,69.0,2021,13
833,Skoda,Fabia,Gasoline,Manual,60.0,2021,18
834,Fiat,500,Electric/Gasoline,Manual,71.0,2021,13

In [15]:
#Agora podemos tirar a tabela das marcas do nosso dataset
dataset_modelos_ver1=dataset_modelos.drop('make', axis=1)
dataset_modelos_ver1

             model               fuel       gear     hp  year  make_numerico
0          GLS 500           Gasoline  Automatic  455.0  2019             10
1      GranTurismo           Gasoline  Automatic  460.0  2016             35
2          Express           Gasoline     Manual  101.0  2021              4
3    Grand Voyager           Gasoline  Automatic  287.0  2013             45
4       Cross Golf           Gasoline     Manual  160.0  2014              2
..             ...                ...        ...    ...   ...            ...
830     Space Star           Gasoline     Manual   71.0  2021             31
831             C1           Gasoline     Manual   72.0  2021             19
832          Panda  Electric/Gasoline     Manual   69.0  2021             13
833          Fabia           Gasoline     Manual   60.0  2021             18
834            500  Electric/Gasoline     Manual   71.0  2021             13

[835 rows x 6 columns]

In [16]:
#Deixando em ordem para subir no banco de dados
nova_ordem=['make_numerico','model','fuel','gear','hp','year']
dataset_modelos_ver1=dataset_modelos_ver1[nova_ordem]

In [17]:
dataset_modelos_ver1

     make_numerico          model               fuel       gear     hp  year
0               10        GLS 500           Gasoline  Automatic  455.0  2019
1               35    GranTurismo           Gasoline  Automatic  460.0  2016
2                4        Express           Gasoline     Manual  101.0  2021
3               45  Grand Voyager           Gasoline  Automatic  287.0  2013
4                2     Cross Golf           Gasoline     Manual  160.0  2014
..             ...            ...                ...        ...    ...   ...
830             31     Space Star           Gasoline     Manual   71.0  2021
831             19             C1           Gasoline     Manual   72.0  2021
832             13          Panda  Electric/Gasoline     Manual   69.0  2021
833             18          Fabia           Gasoline     Manual   60.0  2021
834             13            500  Electric/Gasoline     Manual   71.0  2021

[835 rows x 6 columns]

In [19]:
#Exportando para ser inserido no banco de dados
dataset_modelos_ver1.to_csv('dataset-modelos-ver1.csv',index=False)